
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px !important;
    border-bottom: 1px solid #948e8e;
   
}

.nav-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 180px;
}


.jordan-img-vendedor{
    margin-right: 150px;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-link {
    color: #000;
    text-decoration: none;

}

.bi-cart {
    font-size: 1.5rem;
    color: black;
}

.nav-link:last-child {
    margin-right: 100px;
    background-color: #000;
    color: white;
    border-radius: 24px;
    padding: 10px 20px 10px 20px;

}


/*footer*/

.footer {
    background-color: #000;
    color: #fff;
    padding: 70px;
    text-align: center;
    margin-top: auto
}

.footer-icon {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.footer-icon:hover {
    color: #ccc;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.mx-3 {
    margin-left: 1rem;
    margin-right: 1rem;
}


/*container-general*/
.container-general{
    margin-bottom: 50px;
}

/*register*/

.label-cb{
    color: rgb(209 213 219);
    margin-right: 10px;
}

.form-group{
    margin-top: 20px;
}




/*General*/
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container-general {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.titulo{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
}

.titulo-grande{
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
        
}

/*Index Vendedor*/
.btn-crear-producto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 20px 0px;
}


.contenedor-tabla{
    margin: 50px 100px 0px 100px;
}

.table{
    font-size: 20px;
}

h1.display-4 {
    font-weight: bold;
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}


.card {
    margin: 15px 0px 15px 0px;

}

.comentarios{
    margin: 15px 0px 35px 0px;
    
}

/*Edit productos*/
.contenedor-form-edit{
    margin: 50px 500px 100px 500px;
}



/*Index carrito*/



.jordan-card {
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 30px;
    
}

.jordan-card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.jordan-card-img-top {

    object-fit: contain;
        width: 304px;
            height: 304px;
}

.jordan-card-body {
    padding: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jordan-producto-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #222;
    margin-bottom: 0.5rem;
}

.jordan-producto-precio {
    font-size: 1.25rem;
    font-weight: 700;
    color: #d9534f;
    /* Color similar al rojo característico de Jordan */
    margin-bottom: 1rem;
}


/*Carrito show*/

.form-btn-container {
    display: flex;
    justify-content: center;
    /* Centra los botones horizontalmente */

    gap: 1rem;

}